<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" disableTLSCertificateValidation="True" allowInsecureConnections="True" />
        <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
        <add key="VSG" value="D5:\Workspaces\Company\receive-management\packages\" />
        <add key="LocalFeed" value="D:\Workspaces\Company\switch\receive-management\feed" />
    </packageSources>
    <disabledPackageSources>
        <add key="VSG" value="true" />
    </disabledPackageSources>
</configuration>
